<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666557472258-1b67idt9c6k19etjk6eoj86ou5ol7m9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666557472258-1b67idt9c6k19etjk6eoj86ou5ol7m9e</string>
	<key>API_KEY</key>
	<string>AIzaSyBgMEcYilMBOZuSRQ32e4P8iIdnhFRrDZk</string>
	<key>GCM_SENDER_ID</key>
	<string>666557472258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gds.radio1922</string>
	<key>PROJECT_ID</key>
	<string>radio-1922</string>
	<key>STORAGE_BUCKET</key>
	<string>radio-1922.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666557472258:ios:d97d702d782740ef8f111b</string>
</dict>
</plist>